<warning-card @if (numberOfDisabledChallenges > 0) {>
  <ng-container warning-icon>
    <i class="env-icon" @if (disabledBecauseOfEnv !== 'Windows') { [ngClass]="'icon-' + disabledBecauseOfEnv.toString().toLowerCase()"></i>
    <i class="env-icon" @if (disabledBecauseOfEnv === 'Windows') { [ngClass]="'fab fa-' + disabledBecauseOfEnv.toString().toLowerCase()"></i>
  </div>
  
  <span @if (disabledBecauseOfEnv !=='Safety Mode') { warning-text [innerHTML]="'INFO_DISABLED_CHALLENGES' | translate: {num: numberOfDisabledChallenges, env: disabledBecauseOfEnv}"></span>
  <span @if (disabledBecauseOfEnv ==='Safety Mode') { warning-text [innerHTML]="'INFO_DISABLED_CHALLENGES' | translate: {num: numberOfDisabledChallenges,env:'safety mode being turned on'}"></span>
  
  <button warning-action mat-button color="accent" (click)="toggleShowDisabledChallenges()">
    <div @if (filterSetting.showDisabledChallenges == false) {>
      {{ 'SHOW_DISABLED_CHALLENGES' | translate }}
    </div>
    <div @if (filterSetting.showDisabledChallenges == true) {>
      {{ 'HIDE_DISABLED_CHALLENGES' | translate }}
    </div>
  </button>
</warning-card>
