<div class="score-group">
  <p class="score">
    @if (showAsPercentage == true) {
    <div>
      {{ (score / total) * 100 | number : "1.0-0" }}%
    </div>
  }  else {
    <div >
      {{ score }}/<span class="fraction-total">{{ total }}</span>
    </div>
  }
  </p>
  <p class="category">{{ description }}</p>
  @if (showProgressBar === true) {
    <div class="progress-bar-container">
      <div class="progress-bar" [style.width]="(score / total) * 100 + '%'"></div>
    </div>
  } 
</div>
<div class="right-group">
  <ng-content select="[right-side]" />
</div>
